.logo {
    width: 100px;
}

.MiMenuDeNavegacion {
    background-color: rebeccapurple;
}

.yokai {
    width: 100%;
    height: 80h;
}

.gabt {
    width: 600px;
}

.video {
   margin:100px  0;
   display: flex ;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}



.NuestrosServicios{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
background: #f2f2f2;

}

.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;

}

.imagen-port{
width: 100%;
margin-bottom: 10px;
height: 150px;
overflow: hidden;
position: relative;
cursor: pointer;
box-shadow: 0 0 6px 0 rgba (0, 0, 0, .5);
}



.imagen-port>img{
width: 100%;
height: 100%;
object-fit: cover;
display: block;

}

.hover-galeria{
position: absolute;
width: 100%;
height: 100%;
top: 0;
transform: scale(0);
background: hsla(273,91%, 27%, 0.7);
transition: transform .5s;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.hover-galeria img{
width: 50px;

}

.hover-galeria p{

color: #fff;

}

.imagen-port:hover .hover-galeria{
transform: scale(1);

}

footer {
 display: flex;
 justify-content: space-around;
 

}